.sidebarC {
    background-color: #505050;
    color           : white;
    position        : relative;

    header {
        position        : relative;
        background-color: $sideBackColor;
        height          : 110px;
        font-size       : 1.25rem;
        margin          : 0 -15px;

        .imgText {
            position : relative;
            top      : 50%;
            transform: translateY(-50%);
            left     : 12%;

            .profileImg {
                border: 3px solid white;
            }

            p {
                display     : inline;
                padding-left: 10px;
            }
        }
    }
}